{% extends 'admin/change_list.html' %}
{% load i18n admin_urls %}

{% block object-tools-items %}
  {{ block.super }}
  {% if user.is_superuser %}
    <li>
      <a href="{% url 'admin:inventory_bankbranch_download_template' %}" class="addlink">Download Branch Template</a>
    </li>
    <li>
      <a href="{% url 'admin:inventory_bankbranch_upload_excel' %}" class="addlink">Upload Branch Excel</a>
    </li>
    <li>
      <a href="{% url 'admin:inventory_bankbranch_export_excel' %}" class="addlink">Export All Branches</a>
    </li>
  {% endif %}
{% endblock %}
